<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command id="org.sireum.commands.launcharsit"
               name="Launch Arsit"
               defaultHandler="org.sireum.aadl.osate.arsit.handlers.LaunchArsit">
        <commandParameter id="org.sireum.commands.launcharsit.generator"
                          name="Generator"/>
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
     <menuContribution
       locationURI="menu:com.rockwellcollins.atc.darpacase.menus.menubar.main">
       <menu
         id="org.sireum.SystemBuild"
         label="System Build">
         <dynamic class="org.sireum.aadl.osate.arsit.MenuContributions" id="org.sireum.ui.views.menu.MenuItems"/>
       </menu>
     </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.osateMenu">
         <menu
               id="org.sireum.aadl.osate.BridgeMenu"
               label="Sireum Bridge">
            <dynamic class="org.sireum.aadl.osate.arsit.MenuContributions" id="org.sireum.ui.views.menu.ArsitMenuItems"/>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.sireum.aadl.osate.preferences.PreferencePage"
            class="org.sireum.aadl.osate.arsit.PreferencePage"
            id="org.sireum.aadl.osate.arsit.preferences.PreferencePage"
            name="Arsit">
      </page>
   </extension>   
</plugin>
