<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command id="org.sireum.commands.launchawas"
               name="Launch AWAS"
               defaultHandler="org.sireum.aadl.osate.awas.handlers.LaunchAwas">
        <commandParameter id="org.sireum.commands.launchawas.generator"
                          name="Generator"/>
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.osateMenu">
         <menu
               id="org.sireum.aadl.osate.BridgeMenu"
               label="Sireum Bridge">
            <dynamic class="org.sireum.aadl.osate.awas.MenuContributions" id="org.sireum.ui.views.menu.AwasMenuItems"/>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.sireum.aadl.osate.preferences.PreferencePage"
            class="org.sireum.aadl.osate.awas.PreferencePage"
            id="org.sireum.aadl.osate.awas.preferences.PreferencePage"
            name="AWAS">
      </page>
   </extension>   
</plugin>
