<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command id="org.sireum.commands.launchawas"
               name="Launch AWAS"
               defaultHandler="org.sireum.aadl.osate.awas.handlers.LaunchAwas">
        <commandParameter id="org.sireum.commands.launchawas.generator"
                          name="Generator">
        </commandParameter>
      </command>
      <command
            defaultHandler="org.sireum.aadl.osate.awas.handlers.LaunchRiskAnalysis"
            id="org.sireum.commands.launchriskanalysis"
            name="Launch Risk Analysis">
         <commandParameter
               id="org.sireum.commands.launchriskanalysis.generator1"
               name="Generator1">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.sireum.aadl.osate.awas.handlers.ReachForwardHandler"
            id="org.sireum.commands.forward"
            name="Compute Forward Reachability">
         <commandParameter
               id="org.sireum.commands.forward.generator"
               name="generator">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.sireum.aadl.osate.awas.handlers.ReachBackwardHandler"
            id="org.sireum.commands.backward"
            name="Compute Backward Reachability">
         <commandParameter
               id="org.sireum.commands.backward.generator"
               name="generator">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.sireum.aadl.osate.awas.handlers.ReachEraseHandler"
            id="org.sireum.commands.erase"
            name="Erase Reachability Results">
         <commandParameter
               id="org.sireum.commands.erase.generator"
               name="generator">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.sireum.aadl.osate.awas.handlers.AwasServerHandler"
            id="org.sireum.commands.toggleserver"
            name="Toggle Server">
         <commandParameter
               id="org.sireum.commands.server.generator"
               name="generator">
         </commandParameter>
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.osateMenu">
         <menu
               id="org.sireum.aadl.osate.BridgeMenu"
               label="Sireum Bridge">
            <dynamic class="org.sireum.aadl.osate.awas.MenuContributions" id="org.sireum.ui.views.menu.AwasMenuItems"/>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="sireum.toolbar"
               label="Sireum Toolbar">
            <command
                  commandId="org.sireum.commands.forward"
                  disabledIcon="icons/f2.png"
                  icon="icons/f1.png"
                  label="Forward Reach"
                  tooltip="compute forward reach">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.osate.ge.expressions.editorIsActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.sireum.commands.backward"
                  disabledIcon="icons/b2.png"
                  icon="icons/b1.png"
                  label="Backward Reach"
                  tooltip="compute backward reach">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.osate.ge.expressions.editorIsActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.sireum.commands.erase"
                  disabledIcon="icons/e2.png"
                  icon="icons/e1.png"
                  label="Erase Reach"
                  tooltip="erase reach">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.osate.ge.expressions.editorIsActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.sireum.commands.toggleserver"
                  icon="icons/play.png"
                  label="Toggle Server"
                  style="toggle"
                  tooltip="Toggle Server">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.sireum.aadl.osate.preferences.PreferencePage"
            class="org.sireum.aadl.osate.awas.PreferencePage"
            id="org.sireum.aadl.osate.awas.preferences.PreferencePage"
            name="AWAS">
      </page>
   </extension>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/ISO14971_80001.aadl"
            id="org.sireum.aadl.osate.awas.ISO14971">
      </aadlcontribution>
   </extension>
</plugin>