<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <command id="org.sireum.commands.launchsireum"
               name="Launch Sireum"
               defaultHandler="org.sireum.handlers.LaunchSireumHandler">
        <commandParameter id="org.sireum.commands.launchsireum.generator"
                          name="Generator"/>
      </command>
      <command
            defaultHandler="org.sireum.handlers.LaunchAwasHandler"
            id="org.sireum.commands.genawas"
            name="Launch Awas">
         <commandParameter
               id="org.sireum.commands.genawas.generator"
               name="Generator"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.osateMenu">
         <menu
               id="org.sireum.BridgeMenu"
               label="Sireum Bridge">
            <command
                  commandId="org.sireum.commands.launchsireum"
                  label="Generate JSON"
                  style="push">
               <parameter name="org.sireum.commands.launchsireum.generator" value="json"/>
            </command>
            <command
                  commandId="org.sireum.commands.genslang"
                  label="Generate Slang Embedded Code"
                  style="push">
            </command> 
            <command
                  commandId="org.sireum.commands.genawas"
                  label="Generate AWAS Code"
                  style="push">
               <parameter
                     name="org.sireum.commands.genawas.generator"
                     value="json">
               </parameter>
            </command> 
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.sireum.handlers.empty"
            commandId="org.sireum.commands.genslang">
         <enabledWhen>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
