<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command id="org.sireum.commands.launchsireum"
               name="Launch Sireum"
               defaultHandler="org.sireum.aadl.osate.handlers.LaunchSireumHandler">
        <commandParameter id="org.sireum.commands.launchsireum.generator"
                          name="Generator"/>
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.osateMenu">
         <menu
               id="org.sireum.aadl.osate.BridgeMenu"
               label="Sireum HAMR">
            <dynamic class="org.sireum.aadl.osate.MenuContributions" id="org.sireum.ui.views.menu.MenuItems"/>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="org.sireum.aadl.osate.PreferencePage"
            id="org.sireum.aadl.osate.preferences.PreferencePage"
            name="Sireum HAMR">
      </page>
   </extension>
</plugin>
